<div class="reset-password-page">
    <div class="user-container">
        <h2>Reset your password</h2>
        <p>Enter your new password and confirm it below.</p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
            <div class="form-group">
                <input type="password" id="newPassword" placeholder="New Password" formControlName="newPassword">
                <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)"
                    class="error-message">
                    <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 6
                        characters long.</div>
                </div>
            </div>

            <div class="form-group">
                <input type="password" id="confirmPassword" placeholder="Confirm New Password"
                    formControlName="confirmPassword">
                <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
                    class="error-message">
                    <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Password confirmation is
                        required.</div>

                </div>
                                                    <div *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && (resetPasswordForm.dirty || resetPasswordForm.touched)"
                                                        class="error-message">
                                                        Passwords do not match.
                                                    </div>
            </div>



            <button type="submit" class="user-button" [disabled]="!resetPasswordForm.valid">Reset
                Password</button>
        </form>
    </div>
</div>