header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white; 
  background-color: transparent; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; 
}

.logo {

img{
    height: 28px;
}
}

nav {
  button {
    background-color: blue; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .logo {
    content: url("/assets/images/logo_small.png");
    height: 45px;
  }
}