header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white; 
  background-color: transparent; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; 
}

.logo {

img{
    height: 28px;
}
}

.mobile-logo{
  display: none;
}

nav {
  button {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    gap: 15px;
    align-items: center;
    background-color: var(--primary-color); 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  img{
    height: 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 45px;
  }

  .desktop-logo{
    display: none;
  }

  .mobile-logo{
    display: block;
  }
}

@media (max-width: 500px) {
  .logo {
    height: 25px;
  }

  button{
    font-size: 12px;
    padding: 3px 3px !important;
    gap: 5px;

    img{
      height: 12px;
    }
  }
}