footer {
z-index: 2;
  background-color: transparent; 
  font-weight: 800;
  color: white;
  text-align: center;
  position: relative; 
  bottom: 0;
  left: 0;
  right: 0;

  nav {
      max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    a {
      margin: 0 10px;
      color: inherit; 
      text-decoration: none;
    }
  }
}

  nav a {
    color: inherit;
    text-decoration: none;

    &.active-link {  
      font-weight: bold; 
      text-decoration: underline; 
      color: var(--accent-color); 
    }
  }
