.dashboard-container {
  color: white;
  max-width: 1920px;
  max-height: 600px;
}

.hero-section {
  position: relative;
  overflow: hidden;

}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  height: 500px;

}

.video-player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    pointer-events: none;
  }

  video{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
  }


.video-js {
    width: 100%;
    height: 100%;
}

.hero-video-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-video-description {
  font-size: 1.2em;
  max-width: 600px;
}

.category-section {
  margin-bottom: 30px;
}

.category-title {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.video-list {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.video-card {
  width: 200px;
  flex: 0 0 auto;
}

.video-thumbnail {
  width: 100%;
  display: block;
  border-radius: 8px;
  margin-bottom: 8px;
}

.video-title {
  font-size: 1em;
  margin-top: 0;
}