.dashboard-container {
  color: white;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.hero-section {
  position: relative;
  overflow: hidden;
  margin-top: -20px; /* Negativer Margin-Top, um Abstand zum Header zu entfernen */

}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  height: 500px;
  padding: 20px; /* Füge Padding hinzu, damit Details nicht am Rand kleben */
  box-sizing: border-box; /* Padding in Höhe und Breite einrechnen */

}

.video-player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    pointer-events: none;
  }

  video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  }


.video-js {
    width: 100%;
    height: 100%;
}

.hero-video-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-video-description {
  font-size: 1.2em;
  max-width: 600px;
}

.category-section {
  margin-bottom: 30px;
}

.category-title {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.category-carousel {
  position: relative; /* Für absolute Positionierung der Pfeile */
  display: flex;
  align-items: center; /* Pfeile vertikal zentrieren */
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
  color: white;
  border: none;
  padding: 8px; /* Etwas kleineres Padding */
  border-radius: 50%; /* Runde Pfeil-Buttons */
  cursor: pointer;
  z-index: 10; /* Sicherstellen, dass Pfeile über dem Inhalt liegen */
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &.left {
    left: -10px; /* Positionierung links */
  }

  &.right {
    right: -10px; /* Positionierung rechts */
  }
}


.video-list {
  display: flex;
  overflow-x: auto; /* Scrollbalken aktivieren (aber ausblenden) */
  gap: 15px;
  scroll-behavior: smooth; /* Sanftes Scrollen (optional) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE und Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.video-card {
  width: 200px;
  flex: 0 0 auto;
}

.video-thumbnail {
  width: 100%;
  display: block;
  border-radius: 8px;
  margin-bottom: 8px;
  height: 120px; /* Feste Höhe für alle Thumbnails (Wert anpassen) */
  object-fit: cover; /* Bilder sollen den Bereich ausfüllen und ggf. zuschneiden */
  object-position: center; /* Bilder horizontal und vertikal zentrieren */
}

.video-title {
  font-size: 1em;
  margin-top: 0;
}