<div class="forgot-password-page">
    <div class="user-container">
        <h2>Forgot your password?</h2>
        <p>We will send you an email with instructions to reset your password.</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
            <div class="form-group">
                <input type="email" id="email" placeholder="Email Address" formControlName="email">
            </div>

            <button type="submit" class="user-button" [disabled]="!forgotPasswordForm.valid">Send Email</button>
        </form>
    </div>
</div>