@import 'app/styles/user.styles';


@font-face {
  font-family: 'DM Sans'; 
  font-style: normal;
  font-weight: 400; 
  font-display: swap; 
  src: local('DM Sans Regular'), local('DMSans-Regular'),
       url('/assets/fonts/DMSans-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700; 
  font-display: swap;
  src: local('DM Sans Bold'), local('DMSans-Bold'),
       url('/assets/fonts/DMSans-Bold.ttf') format('truetype');
}


html, body {
  margin: 0;
  // height: 100%;
  font-family: 'DM Sans', sans-serif; 
  color: var(--text-color); 
  background-color: var(--background-color);
}

/* Farbpalette (SCSS Variablen) */
$primary-color: #007bff;
$secondary-color: #6c757d;
$accent-color: #ffc107;
$background-color: #000;
$dark-background-color: #343a40;
$text-color: #333;
$light-text-color: #f8f9fa;
$error-color: #dc3545;
$success-color: #28a745;


/* Hintergrundfarben Klassen (CSS Variablen bleiben, aber nutzen SCSS Variablen) */
:root {
  --primary-color: #{$primary-color}; /* CSS Variable setzt Wert von SCSS Variable */
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --background-color: #{$background-color};
  --dark-background-color: #{$dark-background-color};
  --text-color: #{$text-color};
  --light-text-color: #{$light-text-color};
  --error-color: #{$error-color};
  --success-color: #{$success-color};
}

.bg-primary { background-color: var(--primary-color); } /* CSS Variablen Klassen bleiben */
.bg-secondary { background-color: var(--secondary-color); }
.bg-accent { background-color: var(--accent-color); }
.bg-background { background-color: var(--background-color); }
.bg-dark { background-color: var(--dark-background-color); }

/* Textfarben Klassen (CSS Variablen bleiben, aber nutzen SCSS Variablen) */
.text-primary { color: var(--primary-color); }
.text-secondary { color: var(--secondary-color); }
.text-accent { color: var(--accent-color); }
.text-text { color: var(--text-color); }
.text-light { color: var(--light-text-color); }
.text-error { color: var(--error-color); }
.text-success { color: var(--success-color); }

/* Textfarben */
.text-primary { color: var(--primary-color); }
.text-secondary { color: var(--secondary-color); }
.text-accent { color: var(--accent-color); }
.text-text { color: var(--text-color); }
.text-light { color: var(--light-text-color); }
.text-error { color: var(--error-color); }
.text-success { color: var(--success-color); }


/* Schriftgrößen für Überschriften */
h1 {
  font-size: 2.5rem; /* Beispielgröße, anpassen nach Bedarf */
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.6rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0rem;
}

/* Standard Textkörpergröße */
p, span, div, li, a, button, input, textarea, select {
  font-size: 1rem; 
  line-height: 1.6; 
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  filter: brightness(90%);
}

button:hover {
  text-decoration: none;
  cursor: pointer;
  filter: brightness(90%);
}





:root {
  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-extra-large: 1200px;
}


@media (max-width: var(--breakpoint-medium)) {

  .login-container,
  .register-container,
  .forgot-password-container,
  .reset-password-container {
    max-width: 70%; 
  }
}

.toast-container{
  position: fixed;
  bottom: 25px;
  margin-left: 5px;
  z-index: 9999;  
}

.toast-success {
  background-color: #f8f9fa;
  color: black;
  border-radius: 8px;
  padding: 8px 8px;
  .toast-title{
    color: green;
  }
}


.toast-error {
  background-color: #f8f9fa;
  color: black;
  border-radius: 8px;
  padding: 8px 8px;
  .toast-title{
    color: var(--error-color);
  }
}

.toast-warning {
  background-color: #f8f9fa;
  color: black;
  border-radius: 8px;
  padding: 8px 8px;
  .toast-title{
    color: orange;
  }
}

.toast-info {
  background-color: #f8f9fa;
  color: black;
  border-radius: 8px;
  padding: 8px 8px;
  .toast-title{
    color: #17a2b8;
  }
}

.toast-title {
  font-weight: bold; 


}



.toast-close-button {
  color: white !important; 
  opacity: 0.8 !important;
}


.toast {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}