@use "sass:math";

.hero-section {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.email-signup {
  display: flex;
  justify-content: center;
  input[type="email"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 300px;
  }
  button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
}

footer {
  padding: 20px;
  text-align: center;
  color: #f0f0f0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer nav a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
}

@media (max-width: var(--breakpoint-medium)) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }

  p {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .email-signup {
    flex-direction: column;
    align-items: stretch;

    input[type="email"] {
      width: 100%;
      border-radius: 5px 5px 0 0;
      border-bottom: none;
    }

    button {
      width: 100%;
      border-radius: 0 0 5px 5px;
    }
  }
}

@media (max-width: 450px) {
  .hero-section {
    padding-top: 40px;
    padding-bottom: 40px;

    .hero-content {
      padding-left: 10px;
      padding-right: 10px;
      width: 200px;
    }

    h1 {
      font-size: 1.7em;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9em;
      margin-bottom: 10px;
    }

    .email-signup {
    }
  }
}
