<div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
        <div class="modal-header">
            <span *ngIf="isSpeedTestRunning">Internet Speed test: {{ speedTestProgress }}%</span>
            <select *ngIf="showResolutionDropdown" (change)="onResolutionChange($event)">
                <option value="120p" [selected]="currentResolution === '120p'">120p</option>
                <option value="360p" [selected]="currentResolution === '360p'">360p</option>
                <option value="720p" [selected]="currentResolution === '720p'">720p</option>
                <option value="1080p" [selected]="currentResolution === '1080p'">1080p</option>
            </select>
            <span *ngIf="showResolutionDropdown">{{ videoData?.title || 'Video Player' }}</span>
            <button class="close-button" (click)="closeModal()">
                <fa-icon [icon]="faXmark"></fa-icon>
            </button>
        </div>

        <div class="video-wrapper">
            <video #target class="video-js vjs-default-skin vjs-big-play-centered" width="640" height="360">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>